doctype html
html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  title Page Title
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  style.
    html { box-sizing: border-box; font-family: sans-serif; color: #444; }
    * { box-sizing: inherit; }
    img { max-width: 100%; display: block; margin: 0 auto; padding: 0.5em; }
    a { color: #44A2DC; text-decoration: none; }
    a:hover { text-decoration: underline; }
    a:visited { color: #BB1BDC; }

    ul {
      padding: 0;
      margin: 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    li {
      list-style: none;
      display: block;
      width: 12em;
      max-width: 50%;
      text-align: center;
      padding: 0.5em;
      margin-bottom: 1em;
    }
    nav { text-align: center; width: 100%; margin: 1em 0; }
    nav:last-of-type { position: absolute; bottom: 0; max-width: 800px; margin: auto; }
    nav a { margin-right: 1.5em; }
    nav a:last-child { margin-right: 0 }
    [riot-tag='picture-page'] { max-width: 800px; margin: auto; }
    article { display: block; }
    article .image { max-width: 600px; }
    article header { padding-right: 1.5em; }
    .hidden { opacity: 0.5; }

    @media screen and (min-width: 520px) {
      article {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
      }
      article .image {
        -webkit-flex: 1 0 600px;
        -ms-flex: 1 0 600px;
        flex: 1 0 600px;
      }
    }

body
  main

  script(src='/js/app.js')

